hr {
    border-color: #4081f5;
  }

header.masthead .img-fluid {
  max-width: 50%;
  height: auto;
}  

header.masthead .masthead-title {
  font-size: 3rem;
  line-height: 3rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

header.masthead .masthead-subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

header.masthead .scroll-down .btn:focus, header.masthead .scroll-down .btn:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 700px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .masthead-img {
    max-width: 200px;
    max-height: 200px;
  }
  header.masthead .masthead-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  header.masthead .masthead-subtitle {
    font-size: 2rem;
    line-height: 2rem;
  }
}